<div class="item">
  <div class="head">
    <h4>{{appointItem?.timeFrame}} </h4>
    <p>放号总量：
      <a>{{appointItem?.realyTotal}}</a>
    </p>
    <div class="add" *ngIf="waitSettingDoctors.length">
      <button pButton label="新增放号策略" (click)="handleCreateClick()"></button>
    </div>
  </div>
  <div class="body">
    <p class="no-pro" *ngIf="!appointItem || !appointItem.appointSets || !appointItem.appointSets.length">
      暂未配置放号信息
    </p>
    <div *ngIf="appointItem && appointItem.appointSets && appointItem.appointSets.length">
      <ul>
        <li>
          <span class="dname">医生</span>
          <span class="dnum">放号量</span>
          <span class="dstatus">医生状态</span>
        </li>
        <li *ngFor="let appoint of appointItem.appointSets; let index=index">
          <span class="dname">{{appoint.doctor.doctorName}}</span>
          <span class="dnum">{{appoint.userNum}}</span>
          <span class="dstatus">{{appoint.doctor.status == 1 ?'出诊中': '休息中'}}</span>
          <span class="delete" (click)="handleDeleteItem(index)">
            <a>删除</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<p-dialog *ngIf="showCreate" header="新增放号策略" [visible]="true" [width]="600" [closable]="false" [modal]="true">
  <div class="doctor clearfix" ngForm [isliFormValidMsg]="errMsg">
    <ul>
      <li>
        <p-checkbox label="全部医生" value="true" name="selectedAll" [(ngModel)]="setting.selectedAll" (onChange)="handleSelectAllChange($event)"></p-checkbox>
      </li>
      <li *ngFor="let doctor of waitSettingDoctors">
        <p-checkbox name="doctors" label="{{doctor.doctorName + '('+ (doctor.status==1? '出诊中)': '休息中)')}}" [value]="doctor.id" [(ngModel)]="setting.doctors"
          (onChange)="handleSelectChange($event)"></p-checkbox>
      </li>
    </ul>
    <mpr-form-control-valid controlName="doctors"></mpr-form-control-valid>
  </div>

  <div class="unum">
    <label>每个医生放号量：</label>
    <input type="number" name="userNum" [(ngModel)]="setting.userNum" required>
    <mpr-form-control-valid controlName="userNum"></mpr-form-control-valid>
  </div>

  <div class="btn-box">
    <button type="button" class="btn btn-blue" pButton label="确定" (click)="handleSubmit()"></button>
    <button type="button" class="btn btn-border" pButton label="取消" (click)="handleCancel()"></button>
  </div>
</p-dialog>