<ng-container>
  <div class="search clearfix">
    <dl>
      <dt>关键字：</dt>
      <dd>
        <input type="text" pInputText  placeholder="请输入姓名、手机号" [(ngModel)]="search.searchWord"></dd>
    </dl>
    <dl>
      <dt>预约时间：</dt>
      <dd>
        <tl-drop-down [dataValue]="times" [(ngModel)]="search.timeFrame" valueName="name"
        [style]="{'width':'180px','height':'26px','line-height':'26px'}"></tl-drop-down>
      </dd>
    </dl>
    <dl>
      <dt>预约医生：</dt>
      <dd>
        <tl-drop-down [dataValue]="doctors" [(ngModel)]="search.doctorId" labelName="doctorName"
        [style]="{'width':'180px','height':'26px','line-height':'26px'}"></tl-drop-down>
      </dd>
    </dl>
    <dl>
      <dt>预约科室：</dt>
      <dd>
        <tl-drop-down [dataValue]="departs" [(ngModel)]="search.departId" labelName="departName"
        [style]="{'width':'180px','height':'26px','line-height':'26px'}"></tl-drop-down>
      </dd>
    </dl>
    <div class="button-box">
      <button type="button" pButton label="搜索" class="btn btn-blue" (click)="handleSearch()"></button>
    </div>
  </div>

  <app-appointment-table [dataValue]="appointMents" [day]="2" [pageObj]="paginateObj"
  (OnPageChange)="handlePageChange($event)" (OnCancel)="handleAppointCancel($event)"></app-appointment-table>

</ng-container>
