<div class="container">
  <div class="search clearfix">
    <dl>
      <dt>关键字：</dt>
      <dd>
        <input type="text" pInputText placeholder="请输入姓名、手机号" [(ngModel)]="search.searchWord">
      </dd>
    </dl>
    <dl>
      <dt>注册时间：</dt>
      <dd>
        <tl-start-end-calendar [(ngModel)]="search.date"></tl-start-end-calendar>
      </dd>
    </dl>
    <div class="button-box">
      <button type="button" pButton label="搜索" class="btn btn-blue" (click)="handleSearch()"></button>
    </div>
  </div>
  <app-user-table [dataValue]="users" [pageObj]="pageInfo" (OnPageChange)="handlePageChange($event)"></app-user-table>
</div>
