<p-dialog header="科室" [visible]="true" [width]="550" [closable]="false" [modal]="true" [resizable]="false" [minHeight]="360">
  <div ngForm class="edit-box clearfix" [isliFormValidMsg]="errMsg">
    <dl>
      <dt>科室名称：</dt>
      <dd>
        <input type="text" name="departName" [(ngModel)]="departMent.departName" required maxlength="5">
        <mpr-form-control-valid controlName="departName"></mpr-form-control-valid>
      </dd>
    </dl>
    <dl>
      <dt>科室简介：</dt>
      <dd>
        <textarea name="departRemart" [rows]="8" pInputTextarea [(ngModel)]="departMent.departRemark"></textarea>
      </dd>
    </dl>
    <div class="btn-box">
      <button type="button" pButton label="提交" class="btn btn-blue" (click)="handleSubmit()"></button>
      <button type="button" pButton label="取消" class="btn btn-border" (click)="handleCancel()"></button>
    </div>
  </div>
</p-dialog>