
.new {
    padding: 22px 0;
}

.new button {
    background: #3e97df;
    color: #fff;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    width: 150px;
    height: 32px;
    line-height: 32px;
}.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .btn:hover {
    text-decoration: none;
  }
  
  .btn-blue {
    background: #4974b5;
  } 
  .btn-border {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid  #4974b5;
    color: #4974b5;
  } 
  .blue{
    color: #3e97df;
  }
   
  .red{
    color: #fb6a6a;
  }
  
  .gray{
    color: #cfcfcf;
  }

  button{
      cursor: pointer;
  }