.ui-radiobutton {
    display: inline-block;
    vertical-align: sub;
    margin: 0;
    width: 20px;
    height: 20px;
}

.ui-radiobutton .ui-radiobutton-box {
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    -moz-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ui-radiobutton .ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    border-color: #212121;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-focus {
    border-color: #007ad9;
    background-color: #ffffff;
    color: #007ad9;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #007ad9;
    background-color: #007ad9;
    color: #ffffff;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    background-color: #ffffff;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #005b9f;
    background-color: #005b9f;
    color: #ffffff;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active.ui-state-focus {
    border-color: #005b9f;
    background-color: #005b9f;
    color: #ffffff;
}

.ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
    background: transparent;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon:before {
    display: none;
}

.ui-radiobutton-label {
    margin: 0 0 0 .5em;
}

.ui-helper-hidden-accessible{
    border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


