<p-dialog header="医生" [visible]="true" [width]="800" [closable]="false" [modal]="true">
  <div class="p-grid doctor" ngForm [isliFormValidMsg]="errMsg">
    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-6">
          <dl>
            <dt>姓名:</dt>
            <dd>
              <input type="text" name="doctorName" [(ngModel)]="doctor.doctorName" required>
              <mpr-form-control-valid controlName="doctorName"></mpr-form-control-valid>
            </dd>
          </dl>
          <dl>
            <dt>职称:</dt>
            <dd>
              <input type="text" name="professional" [(ngModel)]="doctor.professional">
              <mpr-form-control-valid controlName="professional"></mpr-form-control-valid>
            </dd>
          </dl>
        </div>
        <div class="p-col-4 doctor-img">
          <div class="p-grid">
              <div class="p-col-8 img">
                  <img src="{{doctor.doctorImg}}">
                  <input type="hidden" name="doctorImg" [(ngModel)]="doctor.doctorImg">
                </div>
                <div class="p-col-4 select">
                  <button type="button">选择图片</button>
                  <input type=file accept="image/*" (change)="handleFileChange($event)">
                </div>
                <mpr-form-control-valid controlName="doctorImg"></mpr-form-control-valid>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-12">
      <dl>
        <dt>年龄:</dt>
        <dd>
          <input type="number" name="doctorAge" [(ngModel)]="doctor.doctorAge">
        </dd>
      </dl>
      <dl>
        <dt>性别:</dt>
        <dd>
          <div class="input">
              <p-radioButton name="doctorSex" value="1" label="男" [(ngModel)]="doctor.doctorSex"></p-radioButton>
              <p-radioButton name="doctorSex" value="0" label="女" [(ngModel)]="doctor.doctorSex"></p-radioButton>
          </div>
        </dd>
      </dl>
    </div>
    <div class="p-col-12">
      <dl>
        <dt>手机号:</dt>
        <dd>
          <input type="text" name="doctorPhone" [(ngModel)]="doctor.doctorPhone" required>
          <mpr-form-control-valid controlName="doctorPhone"></mpr-form-control-valid>
        </dd>
      </dl>
      <dl>
        <dt>科室：</dt>
        <dd>
          <tl-drop-down name="departId" [(ngModel)]="doctor.departId" [autoWidth]="false" [dataValue]="departMent" labelName="departName" valueName="id"></tl-drop-down>
        </dd>
      </dl>
    </div>
    <div class="p-col-12">
      <dl>
        <dt style="vertical-align: top">简介：</dt>
        <dd>
          <textarea name="doctorBref" [(ngModel)]="doctor.doctorBref"></textarea>
        </dd>
      </dl>
    </div>
    <div class="p-col-12">
      <div class="center">
          <button type="button" pButton label="提交" (click)="handleSubmit()"></button>
          <button type="button" pButton label="取消" (click)="handleCancel()"></button>
      </div>
    </div>
  </div>
</p-dialog>
