.dname{
  width: 40%;
  display: inline-block;
}
.dnum{
  width: 15%;
  display: inline-block;
}
.dsurplus{
  width: 15%;
  display: inline-block;
}
.dstatus{
  width: 15%;
  display: inline-block;
}

li{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
